TPs/TP4/Exercice2/Exercice2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="quantiteType" mixed="true">
		<xs:attribute name="quantite" type="xs:int" default="1"/>
	</xs:complexType>
	<xs:complexType name="eltSequenceType">
		<xs:sequence>
			<xs:element name="elt1" maxOccurs="1" minOccurs="0"/>
			<xs:element name="elt2" minOccurs="2" maxOccurs="3"/>
			<xs:choice>
				<xs:element name="elt3"/>
				<xs:element name="elt4"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
